.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 2px;
    }
}

.img-preview {
    height: 150px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    display: flex;
    // align-items: center;
    // justify-content: center;
    color: #ccc;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}